@charset "utf-8";

* {
    text-shadow: none;
    margin: 0 auto;
    padding: 0;
    /*-webkit-tap-highlight-color: transparent;*/
    outline: none;
    font-size:0.16px;
}
body {
    font-family: "黑体","微软雅黑","Arial", "Microsoft YaHei", "宋体", sans-serif;
    background:rgba(0,0,0,.5);
    height: 100%;
    /*position: relative;*/
    overflow-x: hidden;
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}
input, textarea {
    -webkit-user-select: auto;
    /*webkit浏览器*/
}
html {
    height: 100%;
}